body {
  background: url(../images/kitty-chuck.png) no-repeat fixed;
  background-position: 3% 64%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

p {
  text-align: center;
  font-size: 30px;
  font-family: 'Fredericka the Great', sans-serif;
  color: #000;
}

.text-center {
  margin-top: 20px;
}

.btn {
    margin-bottom: 20px;
    border: none;
}

button {
  text-align: center;
  outline: 0 !important;
}

.btn:first-child {
  margin-right: 20px;
}

.btn-default:focus, .btn-default:active, .btn-default:hover, .btn-default:visited {
    border: none;
}

@media screen and (max-width: 850px) {
    p {
        font-size: 25px;
    }
}

@media screen and (max-width: 545px) {
    p {
        font-size: 20px;
    }

    .github-corner {
        display: none;
    }
}
